[Unit]
Description=Tephra - CPU Thermal Monitor Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/tephra --port 9867
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
